✍ Как вы помните, данные в БД хранятся в таблицах. В этом модуле мы будем работать с таблицей kinopoisk: она содержит данные о 250 лучших фильмах по версии сервиса «Кинопоиск» (рейтинг собран в мае 2020 года).

Давайте посмотрим на таблицу [kinopoisk](http://sql.skillfactory.ru:3000/question#eyJkYXRhc2V0X3F1ZXJ5Ijp7ImRhdGFiYXNlIjoyLCJxdWVyeSI6eyJzb3VyY2UtdGFibGUiOjcwfSwidHlwZSI6InF1ZXJ5In0sImRpc3BsYXkiOiJ0YWJsZSIsInZpc3VhbGl6YXRpb25fc2V0dGluZ3MiOnt9fQ==) и изучим, какие данные в ней хранятся:

Название поля	    Содержимое  
position	        номер в базе данных  
movie_title	        название фильма  
year	            год выпуска  
country	            страна выпуска  
rating	            рейтинг фильма в базе  
overview	        описание фильма

SELECT *
FROM sql.kinopoisk
В результате вы увидите всё содержимое таблицы.


![Alt text](data/image1.png)

Обратите внимание! Metabase выводит только первые 2 000 строк: в нашем случае таблица полностью уместилась в выводе.

При этом отображена только часть вывода, поскольку не все строки и столбцы влезли на экран. Вы можете увидеть всё содержимое таблицы, прокрутив страницу по вертикали и горизонтали.

Что ещё мы видим? Числа отображаются в американском формате (с десятичным разделителем — точкой и разделителем разрядов — запятой).

Теперь давайте разберём запрос, благодаря которому мы получили такой результат.

!
РАЗБИРАЕМ ЗАПРОС

→ Оператор SELECT сообщает СУБД, что вы хотите извлечь из неё данные. SELECT лежит в основе любого SQL-запроса к БД.

→ FROM sql.kinopoisk сообщает, из какой таблицы извлекаются данные. Сначала указывается название схемы, в которой содержится таблица (в нашем случае — это sql), а после точки — название самой таблицы (kinopoisk).

→ Звёздочка * указывает, что вы хотите видеть все столбцы этой таблицы.

Если же вам нужны не все столбцы, а только некоторые, вместо звёздочки перечислите названия всех интересующих вас столбцов через запятую.

Важно! SQL нечувствителен к регистру, поэтому ключевые слова можно писать хоть строчными, хоть прописными буквами: SELECT, select или SeLeCt.

опустим, вы хотите написать запрос, аналогичный запросу из задания, только вместо года выхода фильма, вам нужен его «возраст» на 2020 год.

В таком случае наш запрос будет выглядеть так:

ЗапросДетализация
SELECT
    movie_title,
    2020 - year,
    rating
FROM sql.kinopoisk
То есть мы отняли от 2020 года год выхода фильма и получили его возраст! Элементарно!

Примечание. Вы можете посмотреть подробный разбор структуры запроса во вкладке Детализация.

In [ ]:
SELECT /*выбор столбцов*/
    movie_title, /*столбец movie_title*/
    2020 - year, /*столбец, каждое из значений которого ровно разнице 2020 и соответствующего значения столбца year*/
    rating /*столбец rating*/
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/

ТО МЫ ВИДИМ?

Столбец с вычислениями в выводе называется ?column?, потому что Metabase не смог подобрать для него название.

Давайте наведём порядок и переименуем столбец!

⛏
ПОПРОБУЙТЕ В METABASE!

Для этого используем ключевое слово AS и поставим после него новое имя difference. Можем повторить этот процесс для каждого столбца.

ЗапросДетализация
SELECT
    director,
    movie_title,
    10 - rating AS difference
FROM sql.kinopoisk
Новое имя является просто псевдонимом, или алиасом, — оно временное и не меняет реального имени столбца в базе данных. Алиас влияет только на то, как столбец отображается в выводе конкретного запроса.

Алиасом может быть как одно слово, так и несколько, а его написание — как латиницей, так и кириллицей.

Обратите внимание! Если в алиасе используется кириллица или пробелы, необходимо заключать его в двойные кавычки: 10 - rating AS "разница" или movie_title AS "Movie Title".

⚡ Будьте внимательны! При выполнении заданий в рамках курса используйте алиасы аккуратно. Если в задаче не указано, какое имя нужно присвоить столбцу, значит, его нужно выводить под тем же названием, что дано ему в таблице.

ПРОСТЫЕ ОПЕРАЦИИ С ДАННЫМИ

Со столбцами, которые содержат числовые данные, можно проводить арифметические операции:

сложение с помощью + ;
вычитание с помощью - (этот тип операции вы уже проводили, когда определяли «возраст» фильма);
умножение с помощью * ;
деление с помощью / ;
Важно! Если и числитель, и знаменатель — целые числа, результат деления также будет целочисленным, то есть этот оператор произведёт деление нацело.

получение остатка от деления с помощью % .
ДОПОЛНИТЕЛЬНО

С полным перечнем доступных арифметических операций вы можете ознакомиться в [официальной документации](https://postgrespro.ru/docs/postgresql/11/functions-math).

In [ ]:
SELECT /*выбрать столбцы*/
    director, /*столбец director*/
    movie_title, /*столбец movie_title*/
    10 - rating AS difference /*столбец, значения в котором равны разнице 10 и каждого соответствующего значения столбца rating; присвоить столбцу алиас difference*/
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/

Также мы можем проводить арифметические операции с несколькими столбцами.

Давайте выведем для каждого фильма результат деления года его выпуска на рейтинг (что бы это ни значило :)).

SELECT /*выбрать столбцы*/
    movie_title, /*столбец movie_title*/
    year / rating /*столбец, значения которого равны результату деления значений столбца year на соответствующие значения столбца rating*/
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/

WHERE

Мы уже знаем, что делать, если нам нужны лишь несколько столбцов из таблицы.

Но как быть, если мы хотим видеть не все строки, а только некоторые из них?

В таком случае нам пригодится ключевое слово WHERE.

Получим для примера всю информации о фильме, занимающем первую позицию.

SELECT * /*выбор всех столбцов*/  
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/  
WHERE position = 1 /*с позицией 1*/  


SELECT * /*выбор всех полей*/  
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/  
WHERE year >= 2000 /*при условии, что год создания больше или равен 2000*/  
AND rating >= 8 /*и с рейтингом от 8 и выше*/  


SELECT * /*выбор всех полей*/  
FROM sql.kinopoisk /*из таблиц sql.kinopoisk*/  
WHERE year BETWEEN 1975 AND 1985 /*при условии, что год создания лежит в промежутке между 1975 и 1985*/

SELECT director, movie_title  
FROM sql.kinopoisk  
WHERE year IN (2000, 1985, 1939)

SELECT movie_title  
FROM sql.kinopoisk  
WHERE director = 'Леонид Гайдай'

SELECT * /*выбор всех полей*/  
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/  
WHERE movie_title LIKE 'А%' /*если название фильма начинается на А*/   


Знак процента (%) в примере показывает, что после A встречается ноль и более символов. Вы можете использовать % в любом месте внутри строки.

Например, movie_title LIKE '%а%б%' выведет все фильмы, в названии которых встречается строчная буква а, а где-то после неё — б.

Также в текстовых строках используется знак подчёркивания (_) — он заменяет ровно один любой символ.

SELECT *  
FROM sql.kinopoisk  
WHERE overview IS NULL

Вы можете добавить к условию уже изученное ключевое слово NOT, чтобы получилось overview IS NOT NULL, тогда в выводе вы увидите только фильмы с заполненным описанием.

Важно! NULL — это специальное значение. Если вы фильтруете столбец, в котором есть пустые значения, по любому условию, кроме IS NULL / IS NOT NULL, такие значения будут исключены из вывода.

SELECT *  
FROM sql.kinopoisk  
ORDER BY movie_title

SELECT  
    movie_title,  
    director,  
    screenwriter,  
    year  
FROM sql.kinopoisk  
WHERE country = 'СССР'  
ORDER BY rating DESC

SELECT  
    movie_title,  
    overview,  
    year  
FROM sql.kinopoisk  
WHERE country != 'США' AND rating > 8.2  
ORDER BY year DESC

Также в ORDER BY можно указывать, где должны идти пустые значения — в начале или в конце.

Такая настройка порядка вывода задаётся с помощью ключевых слов NULLS FIRST / NULLS LAST.

SELECT  
    movie_title,  
    rating,  
    overview,  
    year  
FROM sql.kinopoisk  
ORDER BY overview NULLS first

SELECT    
    director,  
    movie_title  
FROM sql.kinopoisk   
ORDER BY year, rating DESC

SELECT  
    movie_title  
FROM sql.kinopoisk  
WHERE country = 'Франция' AND rating > 8.3  
ORDER BY rating DESC, year DESC

SELECT  
    director,   
    movie_title,    
    year    
FROM sql.kinopoisk  
ORDER BY 1, 3 DESC

Сортировку по номеру столбца стоит использовать с осторожностью, поскольку при изменении вывода в SELECT всё может сбиться.

При добавлении новых столбцов в SELECT нужно проверить и при необходимости поправить номера столбцов в ORDER BY.

SELECT  
    movie_title,    
    rating  
FROM sql.kinopoisk  
ORDER BY rating DESC    
LIMIT 5

SELECT /*выбор*/    
    movie_title, /*столбец movie_title*/    
    rating /*столбец rating*/   
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/ 
ORDER BY rating DESC /*сортировка по столбцу rating в порядке убывания*/    
OFFSET 3 LIMIT 5 /*исключить первые три строки и вывести пять следующих за ними*/

# <CENTER> ВАЖНО </center>


SELECT  
    столбец1 AS новое_название, 
    столбец2,    столбец3   
FROM таблица    
WHERE (условие1 OR условие2)    AND условие3    
ORDER BY сортировка1, сортировка2   
OFFSET 1 LIMIT 2