SELECT DISTINCT /*выбрать уникальные значения*/  
    type1 /*столбец type1*/  
FROM sql.pokemon /*из таблицы sql.pokemon*/  

SELECT DISTINCT /*выбрать уникальные значения*/  
    type1, /*столбец type1*/  
    type2 /*столбец type2*/  
FROM sql.pokemon /*из таблицы sql.pokemon*/  

Обратите внимание! DISTINCT пишется только один раз, в начале списка получаемых столбцов.

SELECT  
    COUNT(*)  
FROM sql.pokemon  

Если в аргументе функции указать название столбца, функция обработает только строки с непустым значением.  

Внутри функции COUNT мы можем также применять DISTINCT, чтобы вычислить количество уникальных значений.  

SELECT  
    COUNT(DISTINCT type1)  
FROM sql.pokemon  

SELECT  
    AVG(hp)  
FROM sql.pokemon  
WHERE type1 = 'Dragon'  

SELECT  
    COUNT(*) AS "всего травяных покемонов",  
    COUNT(type2) AS "покемонов с дополнительным типом",  
    AVG(attack) AS "средняя атака",  
    AVG(defense) AS "средняя защита"  
FROM sql.pokemon  
WHERE type1 = 'Grass'  

SELECT /*выбор*/  
    COUNT(*) AS "всего травяных покемонов", /*подсчёт всех строк; назначить алиас "всего травяных покемонов"*/  
    COUNT(type2) AS "покемонов с дополнительным типом", /*подсчёт непустых строк в столбце type2; назначить алиас "покемонов с дополнительным типом"*/  
    AVG(attack) AS "средняя атака", /*среднее значение столбца attack; назначить алиас "средняя атака"*/  
    AVG(defense) AS "средняя защита" /*среднее значение столбца defense; назначить алиас "средняя защита"*/  
FROM sql.pokemon /*из таблицы sql.pokemon*/  
WHERE type1 = 'Grass'/*при условии, что значение столбца type1 содержит grass*/

С полным перечнем существующих агрегатных функций вы можете ознакомиться в [официальной документации](https://postgrespro.ru/docs/postgrespro/11/functions-aggregate)

SELECT
    COUNT(*) AS "pokemon_count",
    AVG(speed) AS "avg_speed",
    MAX(hp) AS "max_hp ",
    MIN(hp) AS "min_hp "
FROM sql.pokemon
WHERE type1 = 'Electric' AND type2 IS NOT NULL AND (attack > 50 OR defense > 50)

SELECT /*выбор*/  
    type1 AS pokemon_type, /*столбец type1; присвоить алиас pokemon_type*/  
    COUNT(*) AS pokemon_count /*подсчёт всех строк; присвоить алиас pokemon_count*/  
FROM sql.pokemon /*из таблицы sql.pokemon*/  
GROUP BY type1 /*группировка по столбцу type1*/  
ORDER BY type1 /*сортировка по столбцу type1*/  

SELECT   
    type1, type2,     
    COUNT(*) CNT   
FROM sql.pokemon   
GROUP BY type1, type2   
ORDER BY type1, type2 NULLS FIRST   

SELECT /*выбор*/  
    type1 AS pokemon_type, /*столбец type1; присвоить алиас pokemon_type*/  
    COUNT(*) AS pokemon_count /*подсчёт всех строк; присвоить алиас pokemon_count*/  
FROM sql.pokemon /*из таблицы sql.pokemon*/  
GROUP BY pokemon_type /*группировка по столбцу pokemon_type*/  
ORDER BY COUNT(*) DESC /*сортировка в порядке убывания*/

SELECT   
    type1 AS primary_type,     
    COUNT(DISTINCT type2) AS additional_types_count,
    AVG(hp) AS avg_hp,
    SUM(attack) AS attack_sum
FROM sql.pokemon   
GROUP BY type1
ORDER BY COUNT(type2) DESC, primary_type 

SELECT /*выбор*/  
    type1 AS primary_type, /*столбец type1; присвоить алиас primary_type*/  
    type2 AS additional_type, /*столбец type2; присвоить алиас additional_type*/  
    COUNT(*) AS pokemon_count /*подсчёт всех строк присвоить алиас pokemon_count*/  
FROM sql.pokemon /*из таблицы sql.pokemon*/  
GROUP BY 1, 2 /*группировка по столбцам 1 и 2*/  
ORDER BY 1, 2 NULLS FIRST /*сортировка по столбцам 1 и 2; сначала нули*/

Обратите внимание! В группировке можно указывать порядковый номер столбца так же, как мы делали это в прошлом модуле для сортировки.  
GROUP BY можно использовать и без агрегатных функций. Тогда его действие будет равносильно действию DISTINCT.  

Сравните выводы двух запросов:  

SELECT DISTINCT   
    type1  
FROM sql.pokemon  
SELECT  
    type1  
FROM sql.pokemon  
GROUP BY type1

 
SELECT       
    type1 AS primary_type,       
    COUNT(DISTINCT type2) AS additional_types_count,  
    AVG(hp) AS avg_hp,  
    SUM(attack) AS attack_sum  
FROM sql.pokemon     
GROUP BY type1  
ORDER BY COUNT(type2) DESC, primary_type

Важно! HAVING обязательно пишется после GROUP BY.  

Выведем типы покемонов и их средний показатель атаки, при этом оставим только тех, у кого средняя атака больше 90.  

SELECT  
    type1 AS primary_type,  
    AVG(attack) AS avg_attack  
FROM sql.pokemon  
GROUP BY primary_type   
HAVING AVG(attack) > 90

SELECT [ALL | DISTINCT] список_столбцов|*  
FROM список_имён_таблиц  
[WHERE условие_поиска]  
[GROUP BY список_имён_столбцов]  
[HAVING условие_поиска]   
[ORDER BY имя_столбца [ASC | DESC],…]

SELECT    
    type1 AS primary_type,     
    type2 AS additional_type  
FROM sql.pokemon    
GROUP BY primary_type, additional_type     
HAVING AVG(attack) > 100 AND MAX(hp) < 80

Напишите запрос, чтобы для покемонов, чьё имя (name) начинается с S, вывести столбцы с их основным типом (primary_type) и общим числом покемонов этого типа (pokemon_count). Оставьте только те типы, у которых средний показатель защиты больше 80. Выведите топ-3 типов по числу покемонов в них.

SELECT  
    type1 AS primary_type,   
    COUNT(*) AS pokemon_count  
FROM sql.pokemon  
WHERE name LIKE 'S%'  
GROUP BY primary_type  
HAVING AVG(defense) > 80  
ORDER BY COUNT(*) DESC  
LIMIT 3

### <center> Итоговая структура запроса </center>

SELECT  
    столбец1 AS новое_название,  
    столбец2,  
    АГРЕГАТ(столбец3)   
FROM таблица    
WHERE (условие1 OR условие2)    
    AND условие3    
GROUP BY столбец1, столбец2 
HAVING АГРЕГАТ(столбец3) > 5    
ORDER BY сортировка1, сортировка2   
OFFSET 1 LIMIT 2

SELECT    
    type1 AS primary_type,     
    type2 AS additional_type,  
    AVG(hp) AS avg_hp,  
    AVG(attack) AS avg_attack,  
    AVG(defense) AS avg_defense,  
    AVG(speed) AS avg_speed  
FROM sql.pokemon    
GROUP BY primary_type, additional_type     
HAVING AVG(attack) + AVG(hp) + AVG(defense) + AVG(speed) > 400

Напишите запрос, который выведет столбцы с основным типом покемона и общим количеством покемонов этого типа. Учитывайте только тех покемонов, у кого или показатель атаки, или показатель защиты принимает значение между 50 и 100 включительно. Оставьте только те типы покемонов, у которых максимальный показатель здоровья не больше 125. Выведите только тот тип, который находится на пятом месте по количеству покемонов.


SELECT    
    type1,     
    COUNT(type1) AS count  
FROM sql.pokemon    
WHERE defense BETWEEN 50 AND 100 OR attack BETWEEN 50 AND 100  
GROUP BY type1    
HAVING MAX(hp) <= 125  
ORDER BY count DESC  
OFFSET 4 LIMIT 1