SELECT    
    season,  
    SUM(home_team_goals) AS total_home_goals,  
    SUM(away_team_goals) AS total_away_goals  
FROM sql.matches     
GROUP BY season  
ORDER BY season

Чтобы соединить две таблицы между собой, достаточно записать названия таблиц через запятую в разделе from. Что произойдёт в таком случае?  

SELECT *  
FROM  
    sql.teams,  
    sql.matches  
Каждая запись, которая есть в таблице teams, будет соединена с каждой записью в таблице matches.  

Это действие также называют декартовым произведением таблиц.

SELECT          
    long_name,  
    home_team_goals,    
    away_team_goals 
FROM    
    sql.teams,  
    sql.matches 
WHERE home_team_api_id = api_id 

SELECT 
    long_name,
    home_team_goals,
    away_team_goals
FROM    
    sql.teams
JOIN sql.matches on home_team_api_id = api_id

SELECT
        столбец1,
	столбец2,
	...
FROM
	таблица1
JOIN таблица2 ON условие
JOIN таблица3 ON условие

SELECT
    teams.id
FROM 
    sql.teams
JOIN sql.matches ON home_team_api_id = api_id

SELECT
        столбец1,
	столбец2,
	...
FROM
	таблица1 AS короткое_название_1
JOIN таблица2 AS короткое_название_2 ON условие

Неудачный вариант - с кавычками и кириллицей

SELECT
	"таблица1".столбец1,
	"table 2".столбец2,
	...
FROM
	таблица1 AS "таблица1"
	JOIN таблица2 AS "table 2" ON условие

SELECT
    столбец1 новое_название_столбца,
	столбец2 новое_название_столбца,
	...
FROM
	таблица1 короткое_название_1
JOIN таблица2 короткое_название_2 ON условие

SELECT
    matches.id match_id,
    teams.id team_id
FROM
    sql.teams JOIN
    sql.matches ON home_team_api_id = api_id
ORDER BY match_id

SELECT
    h.long_name "домашняя команда",
    m.home_team_goals "голы домашней команды",
    m.away_team_goals "голы гостевой команды",
    a.long_name "гостевая команда" 
FROM
    sql.matches m
    JOIN sql.teams h ON m.home_team_api_id = h.api_id
    JOIN sql.teams a ON m.away_team_api_id = a.api_id

SELECT
    m.id,
    h.short_name home_short,
    g.short_name away_short
FROM
    sql.matches m
    JOIN sql.teams h ON m.home_team_api_id = h.api_id
    JOIN sql.teams g ON m.away_team_api_id = g.api_id
ORDER BY m.id

SELECT 
    m.id
FROM
    sql.teams t
    JOIN sql.matches m ON m.away_team_api_id = t.api_id
WHERE long_name = 'Arsenal'

SELECT 
	m.id id_1,
	m.season,
	t.id id_2,
	t.long_name
FROM
	sql.teams t
JOIN sql.matches m ON m.away_team_api_id = t.api_id

SELECT 
    t.long_name,
    m.home_team_goals home_goal,
    m.away_team_goals away_goal
FROM
    sql.teams t
    JOIN sql.matches m ON m.home_team_api_id = t.api_id
WHERE short_name = 'GEN'
ORDER BY m.id

SELECT * /*выбор всех полей*/
FROM    
    sql.matches m /*таблица matches с алиасом m*/
    JOIN sql.teams t on t.api_id = m.home_team_api_id /*оператор соединения таблиц; таблица teams с алиасом t; условие: home_team_api_id таблицы m равен api_id таблицы t*/
WHERE
    t.short_name = 'GEN' /*столбец short_name таблицы t имеет значение GEN*/
    AND m.season = '2008/2009' /*столбец season таблицы m имеет значение 2008/2009*/

SELECT 
    m.id,
    h.short_name home_short,
    a.short_name away_short
FROM
    sql.matches m
    JOIN sql.teams h ON m.home_team_api_id = h.api_id
    JOIN sql.teams a ON m.away_team_api_id = a.api_id
WHERE (h.long_name = 'Liverpool' OR a.long_name = 'Liverpool') 
    AND m.season = '2011/2012'
ORDER BY m.id

SELECT 
    m.id,
    h.short_name home_short,
    a.short_name away_short
FROM
    sql.matches m
    JOIN sql.teams h ON m.home_team_api_id = h.api_id
    JOIN sql.teams a ON m.away_team_api_id = a.api_id
WHERE (h.long_name = 'Liverpool' OR a.long_name = 'Liverpool') 
    AND m.season = '2011/2012'
ORDER BY m.id

SELECT
    t.long_name, /*столбец long_name таблицы t*/
    SUM(m.home_team_goals) + SUM(m.away_team_goals) match_goals /*функция суммирования; столбец home_team_goals таблицы m; функция суммирования; столбец away_team_goals таблицы m; новое название столбца*/
FROM
    sql.matches m /*таблица matches с алиасом m*/
    JOIN sql.teams t ON m.away_team_api_id = t.api_id /*оператор соединения таблиц; таблица teams с алиасом t; условие: away_team_api_id таблицы m равен api_id таблицы t*/
GROUP BY t.id /*группировка по столбцу id таблицы t*/

Обратите внимание! В данном запросе была использована группировка по столбцу id таблицы teams, хотя этот столбец не выводится в запросе. Это необходимо для того, чтобы команды с одинаковым названием, если такие найдутся, не группировались между собой. Группировка по названию команды в данном запросе будет неверной, так как есть несколько команд с одинаковым полным названием — мы говорили об этом в начале модуля.

Также, применяя агрегатные функции к соединённым таблицам, обращайте внимание на указание алиасов (или таблиц) при группировке и указании столбцов агрегатных функций. В нашей соединённой таблице есть два столбца с названием id, и если бы мы сформировали запрос без указания таблицы, как указано ниже, то...

Мы можем использовать оператор HAVING для фильтрации сгруппированных данных.

Поставим задачу — вывести таблицу с суммарным количеством забитых голов в матчах по командам и сезонам для команд, в которых суммарное количество голов в матчах сезона больше 100.

SELECT
    m.season,
    t.long_name,
    SUM(m.home_team_goals) + SUM(m.away_team_goals) total_goals
FROM sql.matches m
JOIN sql.teams t ON t.api_id = m.home_team_api_id OR t.api_id = m.away_team_api_id
GROUP BY m.season, t.id
HAVING SUM(m.home_team_goals) + SUM(m.away_team_goals) > 100

SELECT
    m.season, /*столбец season таблицы m*/
    t.long_name, /*столбец long_name таблицы t*/
    SUM(m.home_team_goals) + SUM(m.away_team_goals) total_goals /*функция суммирования; столбец home_team_goals таблицы m; функция суммирования; столбец away_team_goals таблицы m; новое название столбца*/
FROM sql.matches m /*таблица matches с алиасом m*/
JOIN sql.teams t ON t.api_id = m.home_team_api_id OR t.api_id = m.away_team_api_id /*оператор соединения таблиц; таблица teams с алиасом t; условие: home_team_api_id таблицы m равен api_id таблицы t или away_team_api_id таблицы m равен api_id таблицы t*/
GROUP BY m.season, t.id /*группировка по столбцам season таблицы m и id таблицы t*/
HAVING SUM(m.home_team_goals) + SUM(m.away_team_goals) > 100 /*оператор фильтрации сгруппированных данных; функция суммирования; home_team_goals таблицы m; функция суммирования; away_team_goals таблицы m; больше 100*/

Напишите запрос, с помощью которого можно вывести список полных названий команд, сыгравших в гостях 150 и более матчей.  
Отсортируйте список по названию команды.

SELECT
  t.long_name
FROM
  sql.matches m
  JOIN sql.teams t
  ON t.api_id = m.away_team_api_id
GROUP BY t.id
HAVING COUNT(m.away_team_api_id) >= 150
ORDER BY t.long_name

SELECT
    t.long_name
FROM 
    sql.teams t
LEFT JOIN sql.matches m ON t.api_id = m.home_team_api_id OR t.api_id = m.away_team_api_id
WHERE m.id IS NULL



Обратите внимание! Если мы добавим какой-либо фильтр по отличному от NULL значению для таблицы matches, то LEFT JOIN превратится в INNER JOIN, поскольку для второй таблицы станет необходимым присутствие такого (NOT NULL) значения в строке.

Используя LEFT JOIN, выведите список уникальных названий команд, содержащихся в таблице matches. Отсортируйте список в алфавитном порядке.


SELECT
    distinct(t.long_name)
FROM 
    sql.teams t
LEFT JOIN sql.matches m ON t.api_id = m.home_team_api_id OR t.api_id = m.away_team_api_id
WHERE m.id IS NOT NULL
ORDER BY t.long_name

SELECT
    t.long_name,
    SUM(m.away_team_goals) total_goals
FROM   
    sql.teams t
LEFT JOIN sql.matches m ON t.api_id = m.away_team_api_id
GROUP BY t.id
ORDER BY 2 DESC

Обратите внимание! При применении функций SUM, MIN, MAX, AVG к полям со значением NULL в результате получится NULL, а не 0. А при использовании функции COUNT, наоборот, получится 0.

Используя LEFT JOIN, напишите запрос, который выведет полное название команды (long_name), количество матчей, в которых участвовала команда, — домашних и гостевых (matches_cnt). Отсортируйте по количеству матчей в порядке возрастания, затем — по названию команды в алфавитном порядке.


SELECT
    t.long_name,
    COUNT(m.id) matches_cnt
FROM 
    sql.teams t
LEFT JOIN sql.matches m ON t.api_id = m.home_team_api_id OR t.api_id = m.away_team_api_id
group by t.id
ORDER BY matches_cnt, t.long_name

SELECT
    DISTINCT /*оператор исключения повторяющихся строк*/
    t1.long_name home_team, /*столбец long_name таблицы t1; новое название*/
    t2.long_name away_team /*столбец long_name таблицы t2; новое название*/
FROM
    sql.teams t1 /*таблица teams с алиасом t1*/
    CROSS JOIN sql.teams t2 /*оператор соединения CROSS JOIN; таблица teams с алиасом t2*/

Напишите запрос, который выведет все возможные уникальные комбинации коротких названий домашней команды (home_team) и коротких названий гостевой команды (away_team). Команда не может сама с собой играть, то есть быть и домашней, и одновременно гостевой (в одном и том же матче). Отсортируйте запрос по первому и второму столбцам.


SELECT
    DISTINCT
    t1.short_name home_team, 
    t2.short_name away_team
FROM
    sql.teams t1
    CROSS JOIN sql.teams t2
WHERE t1.id != t2.id
ORDER BY home_team, away_team

Напишите запрос, который выведет список уникальных полных названий команд (long_name), игравших в гостях в матчах сезона 2012/2013. Отсортируйте список в алфавитном порядке.


SELECT
    DISTINCT
    t.long_name 
FROM
    sql.teams t
    JOIN sql.matches m ON t.api_id = m.away_team_api_id
WHERE season = '2012/2013'
ORDER BY 1

Напишите запрос, который выведет полное название команды (long_name) и общее количество матчей (matches_cnt), сыгранных командой Inter в домашних матчах.


SELECT
--    DISTINCT
    t.long_name,
    COUNT(m.home_team_api_id)
FROM
    sql.teams t
    JOIN sql.matches m ON t.api_id = m.home_team_api_id

WHERE t.long_name = 'Inter'
GROUP BY t.id
ORDER BY 1

Напишите запрос, который выведет топ-10 команд (long_name) по суммарному количеству забитых голов в гостевых матчах. Во втором столбце запроса выведите суммарное количество голов в гостевых матчах (total_goals).


SELECT
--    DISTINCT
    t.long_name,
    SUM(m.away_team_goals) total_goals
FROM
    sql.teams t
    JOIN sql.matches m ON t.api_id = m.away_team_api_id
--WHERE t.long_name = 'Inter'
GROUP BY t.id
ORDER BY 2 desc
LIMIT 10

Выведите количество матчей между командами Real Madrid CF и FC Barcelona. В поле ниже введите запрос, с помощью которого вы решили задание.


SELECT
--    DISTINCT
    COUNT(m.id) counts
FROM
    sql.matches m
    JOIN sql.teams a ON m.away_team_api_id = a.api_id
    JOIN sql.teams h ON m.home_team_api_id = h.api_id
WHERE a.long_name = 'FC Barcelona' AND h.long_name = 'Real Madrid CF' 
OR h.long_name = 'FC Barcelona' AND a.long_name = 'Real Madrid CF'
--GROUP BY t.id
--ORDER BY 2 desc
--LIMIT 10

Напишите запрос, который выведет название команды (long_name), сезон (season) и суммарное количество забитых голов в домашних матчах (total_goals). Оставьте только те строки, в которых суммарное количество голов менее десяти. Отсортируйте запрос по названию команды, а затем — по сезону.


SELECT 
    h.long_name,
    m.season,
    SUM(m.home_team_goals) total_goals
FROM
    sql.matches m
    JOIN sql.teams h ON m.home_team_api_id = h.api_id
GROUP BY h.id, m.season
HAVING SUM(m.home_team_goals) < 10
ORDER BY long_name, season